*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.pagina{
    max-width: 1000px;  
    margin: 0 auto;    
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    background-color: black;
}
.title{
    font-size: 18px;
    background-color: rgb(21, 2, 54);
    color: rgba(255, 255, 255, 0.884);
    text-align: left;
    padding: 24px 32px;
}
.bodyContent{
    
    background-color: rgba(220, 219, 236, 0.959);
    padding: 32px;
    display: flex;
    

    flex-wrap: wrap;
    

    justify-content: space-between;
}
.card{
    width: 48%;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom:15px;
    display: block;
    border-radius: 20px;
    background-color:rgba(136, 47, 238, 0.404) ;
    color: black;
    text-decoration: none;
    border: 2px;


}
.card:last-child {
    margin-bottom: 0; 
}
.card:hover{
    
    transform:scale(1.03);
    background-color: rgba(145, 82, 212, 0.233) ;

}
.card h2{
    color: rgba(44, 3, 82, 0.979);
}
.card p{
    color: rgba(44, 4, 82, 0.664);
}
.card img{
    height: 80px;
    width: 60px;
}

.cardImage{
    display: flex;
}

img{
    border-radius: 3%;
    height: 450px;
    width: 300px;
    
}
.bodyContentInfo{
    
    background-color: rgba(220, 219, 236, 0.959);
    padding: 32px;
    display: flex;

}
.article{
    margin-right: 40px;
}

table{
    border-collapse: collapse;
}
th{
    text-align: left;
    
}
